<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ServletExceptionHandling</display-name>
	<servlet>		
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.adarsh.servlet.MyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/myServlet</url-pattern>
	</servlet-mapping>

	<error-page>
	  <exception-type>java.lang.NumberFormatException</exception-type>
	  <location>/error.jsp</location>
	</error-page>
	
	<error-page>
	  <error-code>500</error-code>
	  <location>/error.jsp</location>
	</error-page>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
