<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>ServletListenerApplication</display-name>
    <description>Listener Application</description>

    <context-param>
        <param-name>first name</param-name>
        <param-value>Adarsh kumar singh</param-value>
    </context-param>

    <context-param>
        <param-name>second name</param-name>
        <param-value>amit kumar singh</param-value>
    </context-param>

    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>com.adarsh.servlet.MyServlet</servlet-class>
        <init-param>
            <param-name>first email</param-name>
            <param-value>adarh@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>secound email</param-name>
            <param-value>amit@gmail.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/myServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <description>For Tracing Request Object Creation Event</description>
        <listener-class>com.adarsh.listener.request.MyServletRequestListnener</listener-class>
    </listener>

    <listener>
        <description>For Tracing Request Object Attribute Event</description>
        <listener-class>com.adarsh.listener.request.MyServletRequestAttributeListener</listener-class>
    </listener>

    <listener>
        <description>For Tracing Context Object Creation Event</description>
        <listener-class>com.adarsh.listener.context.MyContextListener</listener-class>
    </listener>

    <listener>
        <description>For Tracing Context Object Attributes Event</description>
        <listener-class>com.adarsh.listener.context.MyContextAttributeListener</listener-class>
    </listener>

    <listener>
        <description>For Tracing Session Object Creation Event</description>
        <listener-class>com.adarsh.listener.session.MySessionListener</listener-class>
    </listener>

    <listener>
        <description>For Tracing Session Object Attributes Event</description>
        <listener-class>com.adarsh.listener.session.MySessionAttributeListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
