<?xml version="1.0" encoding="UTF-8"?>
<web-app id="tomcat-demo" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>com.adarsh.servlet.MyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <!--Wildcard means whole app requires authentication-->
            <web-resource-name>*</web-resource-name>
            <url-pattern>*.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>

        <user-data-constraint>
            <!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>


    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/login-failed.html</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>/login.html</welcome-file>
    </welcome-file-list>

</web-app>